<footer class="site-footer">

  <div class="wrap">

    <div align="center">
      <ul>
        <li>contact</li>
        <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        <li>
          <a href="https://www.linkedin.com/in/kaiwalya"><img src="https://upload.wikimedia.org/wikipedia/commons/c/c9/Linkedin.svg" height=16></img></a>
          <a href="https://www.facebook.com/knkher"><img src="https://upload.wikimedia.org/wikipedia/commons/f/fb/Facebook_icon_2013.svg" height=16></img></a>
          <a href="https://plus.google.com/+KaiwalyaKher"><img src="https://upload.wikimedia.org/wikipedia/commons/5/5c/Google_plus.svg" height=16></img></a>
          <a href="https://github.com/kaiwalya"><img src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg" height=16></img></a>
          <a href="https://www.flickr.com/photos/knkher"><img src="https://upload.wikimedia.org/wikipedia/commons/4/44/Flickr.svg" height=16></img></a>
        </li>
      </ul>
    </div>


  </div>

</footer>
