---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
import 'katex/dist/katex.min.css';

interface Props {
  title: string;
  description: string;
  type?: 'website' | 'article';
  publishedDate?: Date;
}

const { title, description, type, publishedDate } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} type={type} publishedDate={publishedDate} />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
